[Unit]
Description=Newsman a mailing list manager written in rust.
Wants=network-online.target
After=network-online.target

[Service]
User=newsman
ExecStart=/usr/bin/newsman --debug -w true
Restart=always

[Install]
WantedBy=multi-user.target
