[Unit]
Description=Newsman a mailing list manager written in rust.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/newsman -d true -e true

[Install]
WantedBy=multi-user.target
